html,body,div,span,p,pre,a,code,em,img,small,strong,ol,ul,li,form,label,table,tr,th,td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
	font-size: 100%;
	background: transparent;
	border: none;
	text-decoration: none
}
html {
	overflow-y: scroll
}
body {
	padding: 0;
	font: 13px/16px Tahoma,Arial,sans-serif;
	color: #222;
	background: rgba(0,0,0,.2); 
	margin: 50px 10px 0 10px; 
}
input,select,textarea,button {
	font-size: inherit;
	font-family: inherit
}
a {
	color: #296ea3;
	text-decoration: none
}
a:hover {
	color: #b00
}
img {
	vertical-align: middle;
	border: none
}
a img {
	border: none
}
span {
	color: #777
}
small {
	font-size: 11px;
	color: #999
}
p {
	margin-bottom: 10px
}
ul {
	margin-left: 2em;
	margin-bottom: 10px
}
ul {
	list-style-type: none;
	margin-left: 0
}
ul li {
	padding: 3px 0
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 10px;
	width: 100%
}
th,td {
	padding: 4px 7px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #ddd;
	background: #fff;
	white-space: nowrap
}
th,td.gray {
	background-color: #eee
}
td.gray span {
	color: #222
}
tr:hover td {
	background-color: #f5f5f5
}
tr:hover td.gray {
	background-color: #eee
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem
}
.table td,.table th {
	padding: .55rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #eceeef
}
.table tbody+tbody {
	border-top: 2px solid #eceeef
}
.table .table {
	background-color: #fff
}
code,pre {
	display: block;
	margin-bottom: 10px;
	font: 13px/16px Consolas,'Courier New',Courier,monospace;
	border: 1px dashed #ccc;
	padding: 5px;
	overflow: auto
}
hr { height:1px;border:none;border-top:1px dashed #DCDCDC; }
pre.with-hljs {
	padding: 0
}
.hidden {
	display: none;
}
pre.with-hljs code {
	margin: 0;
	border: 0;
	overflow: visible
}
code.maxheight,pre.maxheight {
	max-height: 512px
}
input[type="checkbox"] {
	margin: 0;
	padding: 0
}
.fa.fa-caret-right {
	font-size: 1.2em;
	margin: 0 4px;
	vertical-align: middle;
	color: #ececec
}
.fa.fa-home {
	font-size: 1.2em;
	vertical-align: bottom;
}
#wrapper {
	margin: 0 auto
}
.path {
	padding: 0px 15px;
	border: 1px solid #ddd;
	background-color: #fff;
	margin-bottom: 10px;
}
.right {
	text-align: right
}
.center {
	text-align: center
}
.float-right {
	float: right
}
.float-left {
	float: left
}
.message {
	padding: 4px 7px;
	border: 1px solid #ddd;
	background-color: #fff
}
.message.ok {
	border-color: green;
	color: green
}
.message.error {
	border-color: red;
	color: red
}

.message.alert {
	border-color: orange;
	color: orange
}

.btn {
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #296ea3;
	cursor: pointer
}

.btn:hover {
	color: #b00
}

.preview-img {
	max-width: 100%;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAKklEQVR42mL5//8/Azbw+PFjrOJMDCSCUQ3EABZc4S0rKzsaSvTTABBgAMyfCMsY4B9iAAAAAElFTkSuQmCC") repeat 0 0
}

.inline-actions>a>i {
	font-size: 1em;
	margin-left: 5px;
	background: #3785c1;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

.preview-video {
	position: relative;
	max-width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	margin-bottom: 10px
}

.preview-video video {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000
}
 
.filename {
	max-width: 420px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.break-word {
	word-wrap: break-word;
	margin-left: 10px;
}

.break-word.float-left a {
	color: #fff;
	font-size: 1.3em;
	margin: 0px 5px 0px 0px;
}

.break-word+.float-right {
	padding-right: 10px;
	position: relative;
}

.break-word+.float-right>a {
	color: #fff;
	font-size: 1.3em;
	margin-left: 15px;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: 700
}

.close:focus,.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer
} 

.group-btn {
	background: #fff;
	padding: 2px 6px;
	border: 1px solid;
	cursor: pointer;
	color: #296ea3;
}

.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 0px;
	width: 100%;
	background: #585858;
	color: #fff;
	border: 0;
}

.login-form {
border-radius: 4px;
	width: 320px;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.login-form label,.login-form input{
	padding: 5px;
	margin: 10px
}

.modalDialog {
	position: fixed;
	font-family: Arial,Helvetica,sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity .4s ease-in;
	-moz-transition: opacity .4s ease-in;
	transition: opacity .4s ease-in;
	pointer-events: none
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto
}

.modalDialog>.model-wrapper {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 20px;
	background: #fff
}

.close {
	background: #fff;
	color: #000;
	line-height: 25px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 24px;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px
}

.close:hover {
	background: #00d9ff
}

.modalDialog p {
	line-height: 30px
}

div#searchresultWrapper {
	max-height: 300px;
	overflow: auto;padding:0 5px;
}

div#searchresultWrapper li {
	margin: 8px 0;
	list-style: none;
}

li.folder:before, li.file:before {
	font: normal normal normal 14px/1 "FontAwesome";
	content: "\f016";
	margin-right: 5px;
}

li.folder:before {
	content: "\f114";
}

@media (max-width: 767px){ 
.hideSmallDevice{display:none;}
.modalDialog>.model-wrapper{width:90%;padding:15px;}
}

#copyright{
position: fixed;
left: 45%;
bottom:0;
font-size:15px;
color: rgba(0,0,0,.3);
}



.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}